.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFB;
  height: 80px;
}

.menu-bars{
  display: flex;
  gap: 1rem;
  color: var(--Text, #030229);
  font-family: Nunito;
  font-size: 2rem;
  background: none;
  justify-content: center;
  text-decoration: none;
  align-items: center;
}

.menu-bars-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1.5rem;
}

.menu-bars-2 .notify {
  height: 23px;
  width: 18px;
}

.menu-bars-2 .user {
  border-radius: 50%;
  margin-right: 30%;
}

.nav-menu {
  background-color: #ffffff;
  width: 218px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 350ms;
}

.nav-menu.active {
  left: 0;
}

.nav-text {
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #a4a4a4;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  width: 95%;
  height: 100%;
  display: flex;
  padding: 8px 0px 8px 30px;
  align-items: center;
  border-radius: 4px;
  margin-top: 8%;
}

.nav-text:hover {
  border-radius: 0px 5px 5px 0px;
  background: linear-gradient(90deg, #cac7ff 0%, rgba(227, 226, 255, 0) 94.25%);
}

.nav-menu-items {
  margin-top: 35%;
  width: 100%;
}

.nav-menu-items li.active a {
  color: #605BFF;
}

.navbar-brand {
  margin-top: 10%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}

